build/
install/
log/
src/rplidar_ros/
src/micro_ros_setup/
src/uros/
src/ros-controls*/
.claude/

.vscode/
**/build/
**/install/
**/log/
src/rplidar_ros/
src/aiear_sim/
src/micro_ros_setup/
src/uros/
src/ros-controls*/
